<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="description" content="We build great software">
    <meta name="author" content="Busaga Adrian">
    <title>Acasa</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>


<body>

<div class="main_container">
    <nav>
        <a href="index">Acasa</a>
        <a href="despre">Despre</a>
        <a href="intrebari">Intrebari frecvente</a>
        <a href="verificare">Verificare</a>
    </nav>

    <h2>Uniunea Nationala a Transportatorilor Rutieri din Romania</h2>
	<div>UNTRR – Uniunea Nationala a Transportatorilor Rutieri din Romania este o organizatie profesionala si patronala neguvernamentala, independenta, apolitica, fondata in 1990 pe principii democratice.
UNTRR promoveaza si apara interesele transportatorilor rutieri pe plan intern si international, inregistrand de la infiintare pana in prezent peste 13.000 de membri – operatori care efectueaza transporturi interne si internationale de marfa si persoane.

Pe plan extern UNTRR este membra activa a:
 
Uniunii Internationale a Transporturilor Rutiere (IRU) de la Geneva, în cadrul Consiliilor Transport Persoane si Transport Marfa;
Asociatiei Internationale a Transporturilor Multimodale (IMMTA) de la Geneva
Federatiei Rutiere Internationale (IRF) de la Geneva;
Membra asociata a Preventiei Rutiere Internationale (PRI) de la Lisabona.

Pe plan intern UNTRR este membra a:

CP Concordia
Aliantei Confederatiilor Patronale din România (ACPR) prin CNPR
Camerei de Comert si Industrie a României (CCIR)
Asociatiei Nationale a Exportatorilor si Importatorilor din România (ANEIR)
Aliantei pentru Dezvoltarea Economica a României (ADER)
Consiliului Interministerial de Siguranta Circulatiei (CISR)
Comitetului Sectorial Transporturi (Subcomitetul Transport Auto)
Misiunea U.N.T.R.R.
UNTRR urmareste sa fie liderul în furnizarea de servicii relevante cu valoare adaugata catre comunitatea transportatorilor nationali si internationali din România.
UNTRR îsi asuma misiunea de a fi principalul reprezentant al transportatorilor din România si principalul partener de dialog social la nivel de ramura transporturi rutiere.
Viziunea U.N.T.R.R.
UNTRR se va dezvolta ca o organizatie moderna si flexibila, cu o noua viziune manageriala orientata spre profesionalism, eficienta si performanta în satisfacerea nevoilor transportatorilor membri, pentru a deveni cea mai apreciata organizatie din sectorul transporturilor rutiere.

</div>
</div>

<footer>
    <div class="contact_details">
        
    </div>

    <div class="social_menu">
        <ul>
            <li><a href="#"> <i class="fas fa-envelope"></i></a></li>
            <li><a href="#"> <i class="fab fa-facebook"></i></a></li>
            <li><a href="#"> <i class="fab fa-instagram"></i></a></li>
            <li><a href="#"> <i class="fab fa-twitter"></i></a></li>
            <li><a href="#"> <i class="fab fa-github"></i></a></li>
            <li><a href="#"> <i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>

    <div class="copyright">
        <i class="fas fa-copyright"></i>Adi
        <a class="up" href="#"><i class="fas fa-angle-up"></i></a>
    </div>
</footer>

</body>
</html>