<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Edit Client</title>
</head>
<body>
<div align="center">
    <h1>Edit Client</h1>
    <br />
    <form action="#" th:action="@{/save}" th:object="${client}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Client ID:</td>
                <td>
                    <input type="text" th:field="*{id}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>Client Name:</td>
                <td>
                    <input type="text" th:field="*{nume}" />
                </td>
            </tr>
            <tr>
                <td>Prenume:</td>
                <td><input type="text" th:field="*{prenume}" /></td>
            </tr>
            <tr>
                <td>Numar de inmatriculate:</td>
                <td><input type="text" th:field="*{numarauto}" /></td>
            </tr>
            <tr>
                <td>Valabil pana la:</td>
                <td><input type="text" th:field="*{termenval}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>