<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="description" content="We build great software">
    <meta name="author" content="Busaga Adrian">
    <title>Acasa</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>


<body>

<div class="main_container">
    <nav>
        <a href="index">Acasa</a>
        <a href="despre">Despre</a>
        <a href="intrebari">Intrebari frecvente</a>
        <a href="verificare">Verificare</a>
    </nav>
	<img src="/Poza index.jpg" height="200">
	

    <h1>Wellcome to Rovigneta.ro</h1>

</div>
<footer>
    <div class="contact_details">
        
    </div>

    <div class="social_menu">
        <ul>
            <li><a href="#"> <i class="fas fa-envelope"></i></a></li>
            <li><a href="#"> <i class="fab fa-facebook"></i></a></li>
            <li><a href="#"> <i class="fab fa-instagram"></i></a></li>
            <li><a href="#"> <i class="fab fa-twitter"></i></a></li>
            <li><a href="#"> <i class="fab fa-github"></i></a></li>
            <li><a href="#"> <i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>

    <div class="copyright">
        <i class="fas fa-copyright"></i>Adi
        <a class="up" href="#"><i class="fas fa-angle-up"></i></a>
    </div>
</footer>

</body>
</html>