<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="description" content="We build great software">
    <meta name="author" content="Busaga Adrian">
    <title>Acasa</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>


<body>

<div class="main_container">
    <nav>
        <a href="index">Acasa</a>
        <a href="despre">Despre</a>
        <a href="intrebari">Intrebari frecvente</a>
        <a href="verificare">Verificare</a>
    </nav>

    <h2>Intrebari frecvente</h2>
	<div>Întrebări frecvente
         Pe ce drumuri se aplica tariful de utilizare (rovinieta)?
        Conform OU 15/2002 modificata si completata:
        (21)Tariful de utilizare se aplica pe reteaua de drumuri nationale din Romania, definita la art. 1 alin. (1) lit. d), cu exceptia sectoarelor de drum pentru care se vor aplica tarife de concesiune.
        art. 1 alin. (1)
        d)reteaua de drumuri nationale din Romania - drumurile de interes national definite conform art. 6 alin. (1) din Ordonanta Guvernului nr. 43/1997 privind regimul drumurilor, republicata, cu modificarile si completarile ulterioare;
        (1)Drumurile de interes national apartin proprietatii publice a statului si cuprind drumurile nationale, care asigura legaturile cu capitala tarii, cu resedintele de judet, cu obiectivele de interes national, intre ele, precum si cu tarile vecine, si pot fi clasificate ca:
        a)autostrazi;
        b)drumuri expres;
        c)drumuri nationale europene (E);
        d)drumuri nationale principale;
        e)drumuri nationale secundare.
         Am rovinietă valabilă, dar am primit amendă, ce fac?
        Împotriva procesului-verbal de constatare a contraventiei si de aplicare a sanctiunii se poate face plângere în termen de 15 zile de la data înmânarii sau comunicarii acestuia.
        Plângerea se depune la judecătoria în a cărei circumscripţie a fost savârşită contravenţia, (dacă în procesul verbal de constatare a contravenţiei nu este specificată altă circumscripţie).
         Unde pot fi amendat pentru ca nu am rovinieta valabila?
        Conform art. 8 pct.5 (O.G. 15/2002, modificată şi completată cu O.G. 8/2010),
        (5)Utilizatorilor li se pot aplica amenzi contravenţionale atât pe reţeaua de drumuri naţionale din România, cât si în punctele de control pentru trecerea frontierei de stat, la ieşirea din România.
         Daca se schimba numarul de inmatriculare rovinieta ramane valabila pana la sfarsitul perioadei pentru care a fost achitata?
        In cazul utilizatorilor români care isi schimba numarul de inmatriculare al vehiculului, rovinieta sau peajul isi mentin valabilitatea in conditiile in care in baza de date a autoritatii de inmatriculare este operata modificarea respectiva. Autoritatea de inmatriculare va asigura, pe baza de protocol, accesul zilnic al CNAIR - S.A. la baza de date cu modificarile privind schimbarea numarului de inmatriculare.
        In cazul utilizatorilor români si straini, in situatia schimbarii numarului de inmatriculare al vehiculului pentru care a fost achitat tariful de utilizare sau tariful de trecere, rovinieta sau peajul isi mentin valabilitatea numai in conditiile in care la emiterea acestora numarul de identificare al vehiculului a fost inscris corect.
        In conditiile in care la emiterea rovinietei numarul de identificare a vehiculului nu a fost inscris sau nu a fost inscris corect, in cazul schimbarii numarului de inmatriculare al vehiculului pentru care a fost achitat tariful de utilizare, utilizatorul va solicita CNAIR - S.A., in scris, efectuarea modificarii numarului de inmatriculare in baza de date a SIEGMCR. Pentru efectuarea modificarii utilizatorul se va prezenta la una dintre subunitatile CNAIR - S.A. cu urmatoarele documente:
        cerere scrisa, conform formularului-tip care se regaseste pe pagina web a CNAIR - S.A.;
        cartea de identitate a autovehiculului in copie si originalul acesteia pentru verificarea conformitatii.
        Solicitarea se verifica pe loc si, daca cererea este justificata, se efectueaza modificarea in baza de date.
        Odata cu modificarea numarului de inmatriculare in baza de date se va elibera, prin intermediul SIEGMCR, un document care atesta efectuarea modificarii si valabilitatea rovinietei pentru noul numar de inmatriculare, in doua exemplare, dintre care:
        unul va fi stampilat de catre CNAIR - S.A. si va fi inmânat solicitantului
        unul va fi semnat de catre solicitant si va ramâne la CNAIR - S.A.
         Pentru un autovehicul inmatriculat temporar trebuie sa cumpar rovinieta?
        Da, conform Art. 1, paragraf (2) din "ORDINUL nr. 769 din 1 octombrie 2010 privind aprobarea Normelor metodologice pentru aplicarea tarifului de utilizare a retelei de drumuri nationale din Romania" : Tariful de utilizare se aplica utilizatorilor romani si straini pentru toate vehiculele detinute de acestia, inmatriculate temporar sau definitiv, care circula pe reteaua de drumuri nationale din Romania
         Care sunt datele necesare pentru plata prin ordin de plata pentru comenzile efectuate pe site www.e-rovinieta.ro ?
        Beneficiar: Uniunea Nationala a Transportatorilor Rutieri din Romania
        Cod fiscal : RO2836143
        RAIFFEISEN BANK - Sucursala Piata Alba Iulia
        Cont: RO33 RZBR 0000 0600 0209 3738
        Va rugam specificati pe ordinul de plata 'rovinieta online' si data comenzii sau numarul facturii proforme.
         O rovinieta de o zi achizitionata azi e considerata valabila pentru toata ziua, adica incepand de la ora 0 a zilei curente?
        NU, conform art. 6, pct. (7) din NORMELOR METODOLOGICE din 21 septembrie 2018 pentru aplicarea de către Compania Naţională de Administrare a Infrastructurii Rutiere - S.A. a tarifului de utilizare şi a tarifului de trecere aprobate prin Ordin 1463/2018:
        (7) emiterea rovinietei este condiţionată de confirmarea finalizării tranzacţiei de către procesatorul de plăţi agreat de CNAIR - S.A. sau, după caz, de către distribuitor, în cazul în care data de început a valabilităţii solicitate este ziua în curs, data şi ora de început a valabilităţii rovinietei fiind data şi ora confirmării finalizării tranzacţiei de către distribuitor.
         Pot recupera contravaloarea rovinietei pentru o perioada in care autovehiculul nu a circulat?
        Conform NORMELOR METODOLOGICE din 21 septembrie 2018 pentru aplicarea de către Compania Naţională de Administrare a Infrastructurii Rutiere - S.A. a tarifului de utilizare şi a tarifului de trecere aprobate prin Ordin 1463/2018
        Art. 10
        (1) CNAIR - S.A. va returna, la solicitarea utilizatorului, sumele reprezentând contravaloarea tarifului de utilizare, corespunzătoare perioadei de neutilizare, sau contravaloarea tarifului de trecere, corespunzătoare numărului de treceri neutilizate, în situaţia radierii din evidenţă a vehiculelor de către autoritatea care a efectuat înmatricularea, în cazul scoaterii definitive din circulaţie a acestora, în situaţia:
        a) retragerii definitive din circulaţie a vehiculului şi depozitării acestuia într-un spaţiu adecvat, deţinut în condiţiile legii;
        b) dezmembrării, casării sau predării vehiculului la unităţi specializate în vederea dezmembrării;
        c) scoaterii definitive din România a vehiculului respectiv;
        d) furtului vehiculului.
        (2) Solicitarea de returnare a sumelor prevăzute la alin. (1), care trebuie să conţină toate informaţiile prevăzute în modelul care se regăseşte pe pagina web a CNAIR - S.A., se transmite acesteia, împreună cu:
        a) copia de pe dovada de radiere din circulaţie a vehiculului emisă de Serviciul public comunitar regim permise de conducere şi înmatriculare a vehiculelor şi copii de pe documentele emise de instituţii abilitate, din care să reiasă, după caz, data evenimentului rutier care a condus la distrugerea vehiculului, data dezmembrării, casării sau predării vehiculului la unităţi specializate în vederea dezmembrării, data înregistrării furtului, în cazul utilizatorilor români;
        b) traduceri autorizate în limba română ale documentelor emise de instituţii abilitate, din care să reiasă, după caz, data evenimentului rutier care a condus la distrugerea vehiculului, data dezmembrării, casării sau predării vehiculului la unităţi specializate în vederea dezmembrării, data înregistrării furtului la organele abilitate, şi ale dovezii de radiere din circulaţie a vehiculului, emisă de autoritatea competentă din statul în care vehiculul a fost înmatriculat, în cazul utilizatorilor străini.
        (3) În cazul tarifului de utilizare, suma ce se va returna va fi calculată proporţional cu perioada de neutilizare a vehiculului, respectiv cu perioada cuprinsă între ziua imediat următoare datei producerii evenimentului rutier care a condus la distrugerea vehiculului, datei dezmembrării, casării sau predării vehiculului la unităţi specializate în vederea dezmembrării, datei înregistrării furtului la organele abilitate, datei radierii din circulaţie, în cazul scoaterii definitive din România a vehiculului, sau datei retragerii definitive din circulaţie a vehiculului şi depozitării acestuia într-un spaţiu adecvat, deţinut în condiţiile legii, după caz, şi data expirării perioadei de valabilitate a rovinietei, mai puţin costurile aferente virării sumei şi comisionul acordat distribuitorului sau, după caz, procesatorului de plăţi.
        Art. 11
        (1) În cazul în care pentru acelaşi vehicul se achită tariful de utilizare de două sau mai multe ori pentru perioade de valabilitate ce se suprapun pentru cel puţin o zi, la solicitarea utilizatorului, CNAIR - S.A. va returna contravaloarea tarifului, corespunzător perioadei de suprapunere.
        (2) Solicitarea de returnare a sumei prevăzute la alin. (1), care trebuie să conţină toate informaţiile prevăzute în modelul care se regăseşte pe pagina web a CNAIR - S.A., se transmite acesteia, împreună cu o copie de pe cartea de identitate şi/sau de pe certificatul de înmatriculare al vehiculului.
        (3) Suma ce se va returna va fi calculată în funcţie de perioada de suprapunere a valabilităţii rovinietelor, mai puţin costurile aferente virării sumei şi comisionul acordat distribuitorului sau, după caz, procesatorului de plăţi.
        Art. 12
        (1) În cazul în care pentru un vehicul a fost achitat tariful de utilizare sau tariful de trecere pentru un tip de vehicul superior, la care acesta nu poate fi încadrat în conformitate cu clasificarea prevăzută în anexa nr. 1 la ordonanţă sau în anexa la ordinul ministrului transporturilor pentru aprobarea unor tarife aplicate de Compania Naţională de Administrare a Infrastructurii Rutiere - S.A. pentru tarifele de trecere care se încasează prin intermediul SIEGMCR, oricare ar fi configuraţia în care este utilizat, la solicitarea utilizatorului, CNAIR - S.A. va returna diferenţa dintre tariful achitat şi tariful aferent tipului de vehicul în cauză, mai puţin costurile aferente virării sumei şi comisionul acordat distribuitorului sau, după caz, procesatorului de plăţi.
        (2) Solicitarea de returnare a sumelor prevăzute la alin. (1), care trebuie să conţină toate informaţiile prevăzute în modelul care se regăseşte pe pagina web a CNAIR - S.A., se transmite acesteia împreună cu o copie a cărţii de identitate şi a certificatului de înmatriculare al vehiculului.
         Care sunt perioadele de valabilitate?
         Contraventii si sanctiuni, conform O.G. 15 / 2002
         Am vandut vehiculul si totusi am primit un proces verbal de constatare a contraventiei
         Am primit un proces verbal de contraventie, pe care l-am achitat. Ce trebuie sa fac mai departe?
         Am primit mai multe procese verbale de contraventie, emise pentru acelasi vehicul, dar cu date de savarsire a contraventiilor diferite. Trebuie ca la fiecare proces verbal sa platesc amenda?
        DA
         Daca in urma sanctionarii contraventionale, am platit amenda contraventionala, mai trebuie sa cumpar o rovinieta?
        DA
         Rovinieta isi pastreaza valabilitatea in cazul in care am vandut vehiculul, am pastrat numarul de inmatriculare si am inmatriculat un alt vehicul cu acest numar?
        NU
         Rovinieta isi pastreaza valabilitatea in cazul in care s-a schimbat proprietarul sau adresa de domiciliu a proprietarului, dar numarul de inmatriculare a ramas acelasi?
        DA
         Rovinieta isi pastreaza valabilitatea in cazul in care s-a schimbat numarul de inmatriculare?
        În cazul schimbării numărului de înmatriculare al vehiculului pentru care a fost achitata rovinieta,aceasta îşi menţine valabilitatea numai în condiţiile în care la emiterea acesteia numărul de identificare al vehiculului a fost înscris corect.
        În orice altă situaţie utilizatorul va solicita CNAIR - S.A., în scris, efectuarea modificării numărului de înmatriculare în baza de date a SIEGMCR.
        Pentru efectuarea modificării utilizatorul se va prezenta la unul dintre punctele de lucruale CNAIR - S.A. (lista acestora se gaseste la www.cnadnr.ro, sectiunea Roviniete –Puncte de schimbare a numarului de inmatriculare) , cu următoarele documente:
        cerere scrisă, conform formularului-tip care se regăseşte la www.cnadnr.ro, sectiunea Roviniete - ,,Formulare – Cerere schimbare numere inmatriculare"
        cartea de identitate a autovehiculului în copie şi original
        Odată cu modificarea numărului de înmatriculare, în baza de date se va elibera, prin intermediul SIEGMCR, un document care atestă efectuarea modificării şi valabilitatea rovinietei pentru noul număr de înmatriculare, în două exemplare identice, dintre care:
        unul va fi ştampilat de către CNAIR - S.A. şi va fi înmânat solicitantului;
        unul va fi semnat de către solicitant şi va rămâne la CNAIR - S.A.l
         Am achizitionat un vehicul si pana la inmatriculare acesta circula cu numere provizorii (numere rosii). Este necesara achizitionarea unei roviniete pentru aceasta perioada?
        Atat pentru vehiculele care circula cu numere provizorii, cat si pentru vehiculele inregistrate, NU se achita rovinieta;
         Am inmatriculat un vehicul, iar la momentul la care am dorit sa achizitionez rovinieta, operatorul m-a instiintat ca pentru numarul de inmatriculare respectiv exista o rovinieta valabila. Mai trebuie sa achizitionez o noua rovinieta?
        In cazul in care in sistemul informatic, pentru numarul de inmatriculare respectiv exista o rovinieta aflata in perioada de valabilitate, aceasta se considera a fi valabila pentru vehiculul dv., numai in cazul in care numarul de identificare pentru care a fost eliberata rovinieta respectiva este acelasi cu numarul de identificare din certificatul de inmatriculare al vehiculului detinut de catre dv., si rovinieta respectiva a fost eliberata pentru tipul de vehicul detinut de catre dv;
        In cazul in care cele doua numere de identificare nu sunt identice, sau tipul vehiculului detinut de catre dv. este diferit de tipul vehiculului pentru care s-a emis rovinieta existenta in sistemul informatic, aceasta nu se considera a fi valabila pentru vehiculul detinut de catre dv., iar operatorul are obligatia sa va elibereze rovinieta solicitata.
         Am vandut vehiculul, iar rovinieta achizitionata inca mai este in perioada de valabilitate. Imi poate fi calculata si restituita suma aferenta perioadei de neutilizare, de la data vanzarii vehiculului pana la data expirarii valabilitatii rovinietei?
        NU
        Restituirea sumei, corespunzatoare perioadei de neutilizare, se face numai la solicitarea utilizatorului, in situatia radierii din circulatie a vehiculului ca urmare a:
        dezmembrarii, casarii sau predarii vehiculului unei unitati specializate, in vederea dezmembrarii;
        scoaterii definitive din România a vehiculului;
        declararii furtului vehiculului
         Am achitat mai multe roviniete pentru acelasi vehicul, cu perioade de valabilitate care se suprapun cel putin o zi,. Cum procedez pentru a mi se restitui contravaloarea tarifului pentru care perioadele de valabilitate ale rovinietele achizitionate se suprapun?
        In cazul in care pentru acelasi vehicul se achita mai multe roviniete pentru perioade de valabilitate care se suprapun pentru cel putin o zi, contravaloarea perioadei de suprapunere a rovinietelor, se returneaza in baza unei solicitari de returnare a contravalorii tarifului corespunzator perioadei de suprapunere care se depune la CNAIR - S.A. impreuna cu o copie a cartii de identitate sau a certificatului de inmatriculare a vehiculului, ce va purta inscrisul "conform cu originalul", semnatura si, dupa caz, stampila utilizatorului.
        Suma ce se va returna, va fi calculata in functie de perioada de suprapunere a valabilitatii, mai putin comisioanele bancare si cele cuvenite distribuitorilor si va fi returnata in termen de 30 de zile lucratoare de la data primirii solicitarii.
         In cazul in care in certificatul de inmatriculare al vehiculului detinator este o societate de leasing, dar totodata sunt inscrise si datele utilizatorului vehiculului, procesul verbal de constatare a contraventiei incheiat pentru circulatia pe reteua de drumuri nationale din Romania fara a detine rovinieta valabila, va fi emis pe numele detinatorului sau al utilizatorului?
         Daca am circulat mai multe zile fara rovinieta, pot primi mai multe procese-verbale de constatare a contraventiei?
        Ordonanta 15/2002 modificata cu Legea 60/2018
        (8) Pentru lipsa rovinietei valabile, procesul-verbal de constatare a contravenţiei se comunică contravenientului în termen de cel mult 2 luni de la data aplicării sancţiunii contravenţiei. În intervalul de la data săvârşirii contravenţiei până la data comunicării procesului-verbal de constatare a contravenţiei nu se pot încheia alte procese-verbale de constatare a contravenţiei pentru lipsa rovinietei valabile pentru acelaşi vehicul.
</div>
</div>

<footer>
    <div class="contact_details">
        
    </div>

    <div class="social_menu">
        <ul>
            <li><a href="#"> <i class="fas fa-envelope"></i></a></li>
            <li><a href="#"> <i class="fab fa-facebook"></i></a></li>
            <li><a href="#"> <i class="fab fa-instagram"></i></a></li>
            <li><a href="#"> <i class="fab fa-twitter"></i></a></li>
            <li><a href="#"> <i class="fab fa-github"></i></a></li>
            <li><a href="#"> <i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>

    <div class="copyright">
        <i class="fas fa-copyright"></i>Adi
        <a class="up" href="#"><i class="fas fa-angle-up"></i></a>
    </div>
</footer>

</body>
</html>