<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	 

<head>
    <meta charset="utf-8">
    <meta name="description" content="We build great software">
    <meta name="author" content="Busaga Adrian">
    <title>Acasa</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <title>Clients Manager</title>
</head>
<body>
<div class="main_container">
    <nav>
        <a href="index">Acasa</a>
        <a href="despre">Despre</a>
        <a href="intrebari">Intrebari frecvente</a>
        <a href="verificare">Verificare</a>
    </nav>

<div align="center">
    <h1>Client List</h1>
    <a href="new">Create New Client</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Client ID</th>
            <th>Nume</th>
            <th>Prenume</th>
            <th>Numar de inmatriculare</th>
            <th>Expira la</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${listClients}">
            <td th:text="${client.id}">Client ID</td>
            <td th:text="${client.nume}">Nume</td>
            <td th:text="${client.prenume}">Prenume</td>
            <td th:text="${client.numarauto}">Numar de inmatriculare</td>
            <td th:text="${client.termenval}">Expira la</td>
            <td>
                <a th:href="@{'/edit/' + ${client.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${client.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>